main {
    display: flex;
    background: linear-gradient(#0000008a, #0000008a), url(./images/hero1.jpg);
}

main section {
    width: 80%;
    background-color: var(--off-white);
    padding: 2em;
    align-self: center;

    color: var(--sushi-red);
}

form {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(min(16em, 100%), 1fr));
    gap: 2em;
}

@media screen and (min-width: 600px) {
    main section {
        max-width: 50%;
    }
}

label input {
    width: 100%;
    border: solid var(--sushi-red);
    padding: 1em;

    color: black;
    font-size: 1em;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    border: none;
}

fieldset input {
    display: none;
}

fieldset label {
    background-color: var(--sushi-red);
    color: var(--off-white);
    display: flex;
    justify-content: center;
    padding: 1em;
}

fieldset label:has(input[type="radio"]:checked) {
    background-color: var(--off-white);
    border: var(--sushi-red) solid ;
    color: var(--sushi-red);
}

label:last-of-type {
    grid-column-start: 1;
    grid-column-end: -1;
}

textarea {
    width: 100%;
    height: 30vh;
    border: solid var(--sushi-red);
    padding: 1em;

    color: black;
    font-size: 1em;
    font-family: sushi;
}

input[type="submit"] {
    background-color: var(--off-white);
    border: solid var(--sushi-red);
    padding: 1em;
    width: 10em;
}

input[type="submit"]:hover {
    background-color: var(--sushi-red);
    padding: 1em;
    width: 10em;
    color: var(--off-white);
}


