/* Hero slidemenu carousel*/
main section:nth-of-type(1) li h2 {
  color: var(--off-white);
}

main section:nth-of-type(1) ul {
  width: 100%;
  height: 50vh;
  display: flex;
  
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  transition: ease-in;

  anchor-name: --my-carousel;
  
  scroll-marker-group: after;
}

main section:nth-of-type(1) li {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  background: linear-gradient(#000000b2, #000000b2), url(./images/hero1.jpg);
  background-size: cover;

  color: var(--off-white);
  font-weight: bold;

  flex: 0 0 100%;
  
  scroll-snap-align: center;
}

main section:nth-of-type(1) li:nth-of-type(2) {
  background: linear-gradient(#000000b2, #000000b2), url(./images/hero2.jpg);
  background-size: cover;
}

main section:nth-of-type(1) li:nth-of-type(3) {
  background: linear-gradient(#000000b2, #000000b2), url(./images/hero3.jpg);
  background-size: cover;
}

main section:nth-of-type(1) ul::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  top: calc(anchor(bottom) - 70px);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 1em;
}

main section:nth-of-type(1) li::scroll-marker {
  content: "";
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: 0.2em solid var(--off-white);
  border-radius: 50%;
}

main section:nth-of-type(1) li::scroll-marker:target-current {
  background-color: var(--off-white);
}

main section:nth-of-type(1) li a {
    background-color: var(--sushi-red);
    padding: 1em;
    border-radius: 2em;
    text-decoration: none;
    color: var(--off-white);
    margin-top: 1em;
}

main section:nth-of-type(1) li a:hover {
    background-color: var(--off-white);
    color: var(--back-grey);
}

/* Welcome article - 3 buttons*/
main section:nth-of-type(2) {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: auto;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

main section:nth-of-type(2) h2 {
  order: 2;
}

main section:nth-of-type(2) p {
  order: 2;
}

main section:nth-of-type(2) img {
  width: 10em;
  order: 1;
}

main section:nth-of-type(2) section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  order: 2;
}

main section:nth-of-type(2) section a {
  margin-top: 1em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--sushi-red);
  border-radius: 0;
  width: 8em;
  text-align: center;
  padding: 1rem;
  height: max-content;
}

main section:nth-of-type(2) section a:hover {
  background-color: var(--sushi-red);
  color: var(--off-white);
}

main section:nth-of-type(2) section a img {
  width: 5em;
  height: 5em;
  margin-bottom: 0.5rem; /* spacing between icon + text TUNE IT LATER */
}

/* Why section */
main article:last-of-type  {
  padding: 1rem;
  background-image: url(./images/hero3.jpg);
  height: max-content;
}

main article:last-of-type section {
  width: 90%;
  height: auto;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--off-white);
  border-radius: 0.7em;
  margin: 1rem;
}

main article:last-of-type h2 {
  margin-bottom: 0.5rem;
}

main article:last-of-type p {
  margin-bottom: 2rem;
}

main article:last-of-type a  {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--sushi-red);
  font-weight: bold;
  margin-top: auto;
}

main article:last-of-type a svg polyline {
fill: none;
stroke: var(--sushi-red);
stroke-linecap: round;
stroke-linejoin: round;
stroke-width: 13em;
align-self: center;
}
