@font-face {
  font-family: Sushi;
  src: url(./fonts/sushi-normal.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Sushi;
  src: url(./fonts/sushi-thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Sushi;
  src: url(./fonts/sushi-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Sushi;
  src: url(./fonts/sushi-medium.ttf);
  font-weight: 500;
}

/* Color usage */
:root {
    --off-white: #fafafa;
    --sushi-red: #cd0000;
    --back-grey: #313131;
}

/* Van a11y */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Body styles */
body {
  overflow-x: hidden;

  background-color: var(--off-white);

  font-family: sushi;
  line-height: 1.6;
  color: var(--back-grey);
}

img, video, iframe, section, ul {
  max-width: 100%;
  box-sizing: border-box;
}

/* Main alignments */
main {
  display: flex;
  flex-direction: column;
}
/* Header algemeen */

header {
  background-color: var(--back-grey); 
  color: var(--off-white);
  padding: 1rem;
}

nav img {
  width: 18em;
  margin-right: 200px;
}

header h1 {
  text-align: center;
  margin-bottom: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: none;
}

header nav a:hover {
  color: var(--sushi-red);
}

nav section a {
    background-color: var(--sushi-red);
    padding: 1em;
    border-radius: 1em;
}

nav section a:hover {
    background-color: var(--off-white);
    color: var(--back-grey);
}

/* Header & Navigation*/
.hamburger-icon {
      display: block;
      cursor: pointer;
      padding: 10px;
}

.hamburger-icon span {
      display: block;
      width: 30px;
      height: 4px;
      margin: 5px 0;
      background-color: white;
      transition: all 0.3s ease;
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

nav ul {
      display: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      background-color: var(--back-grey);
      position: absolute;
      top: 5rem;
      right: 0;
      width: 100%;
      height: fit-content;
      text-align: left;
      transition: transform 0.3s ease-in-out;
      transform: translateX(100%);
      z-index: 9999;
      padding: 2rem;
}

nav section {
      gap: 1em;
}

nav ul.open {
      display: block;
      transform: translateX(0);
}

header img {
      margin-bottom: 1rem;
}

li {
      margin-bottom: 1.5rem;
} 


/* Main sections */
main {
  max-width: 100%;
  margin: 0;
}

h2 {
  color: var(--sushi-red);
  margin-bottom: 0.5rem;
}

/* iFrame googleMap + de Buttons */

footer {
  background-color: var(--back-grey);
  color: var(--off-white);
  max-width: 100%;
}

footer section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: bottom;
  padding-top: 0.5rem;
  margin-bottom: 0;
}

footer h2 {
  color: var(--off-white);
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

footer button {
  background-color: var(--back-grey);
  color: var(--off-white);
  cursor: pointer;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 0.8em;
  touch-action: manipulation;
}

footer button:not(:disabled):hover,
footer button:not(:disabled):focus {
  outline: 0;
  background: var(--sushi-red);
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

footer section:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer section:last-of-type img {
  width: 3em;
  margin: 1em;
}

footer section:nth-of-type(2) {
  background-color: var(--sushi-red);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
}
