@font-face {
  font-family: Sushi;
  src: url(./fonts/sushi-normal.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Sushi;
  src: url(./fonts/sushi-thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Sushi;
  src: url(./fonts/sushi-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Sushi;
  src: url(./fonts/sushi-medium.ttf);
  font-weight: 500;
}

/* Color usage */
:root {
    --off-white: #fafafa;
    --sushi-red: #cd0000;
    --back-grey: #313131;
}

/*Visually hidden*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Body styles */
body {
  overflow-x: hidden;

  background-color: var(--off-white);

  font-family: sushi;
  line-height: 1.6;
  color: var(--back-grey);
}

img, video, iframe, section, ul {
  max-width: 100%;
  box-sizing: border-box;
}

/* Main alignments */
main {
  display: flex;
  flex-direction: column;
}
/* Header algemeen */

header {
  background-color: var(--back-grey); 
  color: var(--off-white);
  padding: 1rem;
}

#logo {
  width: 18em;
  margin-right: 200px;
}

header h1 {
  text-align: center;
  margin-bottom: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: var(--sushi-red);
}

#book_table {
    background-color: #1e1e1e;
    padding: 1em;
    border-radius: 1em;
}

#book_table:hover {
    background-color: var(--off-white);
    color: var(--back-grey);
}

#order_now {
    background-color: var(--sushi-red);
    padding: 1em;
    border-radius: 1em;
}

#order_now:hover {
    background-color: #1e1e1e;
    color: var(--off-white);
}

/* Header & Navigation for mobiles*/

  @media (max-width: 768px) {
    .hamburger-icon {
      display: block;
      cursor: pointer;
      padding: 10px;
    }

    .hamburger-icon span {
      display: block;
      width: 30px;
      height: 4px;
      margin: 5px 0;
      background-color: white;
      transition: all 0.3s ease;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-list {
      display: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      background-color: var(--back-grey);
      position: absolute;
      top: 5rem;
      right: 0;
      width: 100%;
      height: fit-content;
      text-align: left;
      transition: transform 0.3s ease-in-out;
      transform: translateX(100%);
      z-index: 9999;
      padding: 2rem;
    }

    nav section {
      gap: 1em;
    }

    .nav-list.open {
      display: block;
      transform: translateX(0);
    }

    #logo {
      margin-bottom: 1rem;
    }

    li {
      margin-bottom: 1.5rem;
    }

    #book_table {
    background-color: #1e1e1e;
    padding: 1em;
    border-radius: 1em;

  }

    #order_now {
    background-color: var(--sushi-red);
    padding: 1em;
    border-radius: 1em;
  }


  }
/* Header & Navigation for large-desktop*/

@media screen and (min-width: 1440px) {
  .hamburger-icon {
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: space-around;
    }
  
    #book_table {
    background-color: #1e1e1e;
    padding: 1.2em;
    border-radius: 1em;
}

#book_table:hover {
    background-color: var(--off-white);
    color: var(--back-grey);
}

#order_now {
    background-color: var(--sushi-red);
    padding: 1.2em;
    border-radius: 1em;
}

#order_now:hover {
    background-color: #1e1e1e;
    color: var(--off-white);
}
}

/* Main sections */
main {
  max-width: 100%;
  margin: 0;
}

section h2 {
  color: var(--sushi-red);
  margin-bottom: 0.5rem;
}
/* Hero slide - zelf proberen te maken */
article.slideMenu {
  display: flex;
  flex-direction: column;
  margin: 0;
}

article.slideMenu ul {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: auto;

  list-style: none;
  width: 100%;
}

article.slideMenu ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}

article.slideMenu ul li:nth-of-type(1) {
  background-image: url(./images/hero1.jpg);
}

section.slideMenu {
  display: flex;
  justify-content: center;
  gap: 2em;
}

section.slideMenu a {
  text-decoration: none;
}

/* Hero slidemenu eerste

.hero {
  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.hero a {
  z-index: 20;
  color: white;
}

.slides {
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;  full container apperantly, ask how this works (got it from the internet) 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 2rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/hero1.jpg');
  background-size: 100%;
}

li.slide:nth-of-type(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/hero2.jpg'); 
  background-size: 100%;
}

li.slide:nth-of-type(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/hero3.jpg');
  background-size: 100%;
}

.slide h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--off-white);
}

.slide p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn {
  background-color: var(--sushi-red);
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--sushi-red);
}
*/

/* articles */
article {
  padding: 1rem;
}

/* Welcome article - 3 buttons*/
.welcome {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: auto;
  text-align: center;
}

.welcome img {
  width: 10em;
}

section.welcome {
  display: flex;
  flex-direction: row;
}

.welcome_btn {
  margin-top: 1em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--sushi-red);
  padding: 1rem;
  border-radius: 0;
  width: 8em;
  text-align: center;
}

.welcome_btn:hover {
  background-color: var(--sushi-red);
  color: var(--off-white);
}

.welcome_btn .icon {
  width: 5em;
  height: 5em;
  margin-bottom: 0.5rem; /* spacing between icon + text TUNE IT LATER */
}

/* Why article */

article:last-of-type {
  background-image: url(./images/hero3.jpg);
  height: max-content;
}

article:last-of-type section {
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--off-white);
  border-radius: 0.7em;
  margin: 1rem;
}

article:last-of-type h2 {
  margin-bottom: 0.5rem;
}

article:last-of-type p {
  margin-bottom: 2rem;
}

.smallBtn {
  text-decoration: none;
  color: var(--sushi-red);
  font-weight: bold;
}

/* iFrame googleMap + de Buttons */

footer {
  background-color: var(--back-grey);
  color: var(--off-white);
  max-width: 100%;
}

footer section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: bottom;
  padding-top: 0.5rem;
  margin-bottom: 0;
}

footer h2 {
  color: var(--off-white);
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

button {
  background-color: var(--back-grey);
  color: var(--off-white);
  cursor: pointer;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 0.8em;
  touch-action: manipulation;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  outline: 0;
  background: var(--sushi-red);
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

#socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#socials img {
  width: 3em;
  margin: 1em;
}

#map {
  background-color: var(--sushi-red);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
}
