/* Reset some default browser styles by changing all (*) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color usage */
:root {
    --off-white: #fafafa;
    --sushi-red: #a72d2c;
    --back-grey: #313131;
}

/* Body styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: var(--back-grey);
  background-color: var(--off-white);
}

/* Main alignments */
main {
  display: flex;
  flex-direction: column;
}

/* Header & Navigation */
header {
  background-color: var(--back-grey); 
  color: white;
  padding: 1.5rem;
}

#logo {
  width: 200px;
  margin-right: 200px;
}

header h1 {
  text-align: center;
  margin-bottom: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: var(--sushi-red);
}

#book_table {
    background-color: #1e1e1e;
    padding: 1.2em;
    border-radius: 1em;
}

#book_table:hover {
    background-color: var(--off-white);
    color: var(--back-grey);
}

#order_now {
    background-color: var(--sushi-red);
    padding: 1.2em;
    border-radius: 1em;
}

#order_now:hover {
    background-color: #1e1e1e;
    color: var(--off-white);
}

/* Main sections */
main {
  padding: 2rem 1rem;
  max-width: 100vw;
  margin: 0;
}

section {
  margin-bottom: 2rem;
}

section h2 {
  color: var(--sushi-red);
  margin-bottom: 0.5rem;
}

/* Hero slidemenu*/
.hero {
  position: relative;
  height: 65vh;
  width: 100%;
  overflow: hidden;
}

.slides {
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0; /* full container apperantly, ask how this works (got it from the internet) */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 2rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  background-image: url(images/hero1.jpg);
  background-size: 100vw;
}

/*
.slide li:nth-of-type(2) {
  background: url(images/hero2.jpg);
}

.slide li:nth-last-of-type(3) {
  background: url(images/hero3.jpg);
}
*/

.slide h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.slide p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn {
  background-color: var(--sushi-red);
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--sushi-red);
}

/* Welcome menu - 3 items*/
.welcome {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 30vh;
}

.welcome img {
  width: 10em;
}

.welcome p:last-of-type {
  font-weight: bold;
  color: var(--sushi-red);
}

.welcome_btn {
  margin-top: 1em;
  display: inline-flex;
  flex-direction: column;   /* putting the icon above the text */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--sushi-red);
  padding: 1rem;
  border-radius: 0;
  width: 8em;  /* fixed size, but later put it in relative size (done) */
  text-align: center;
  transition: background 0.3s ease;
}

.welcome_btn:hover {
  background-color: var(--sushi-red);
  color: white;
}

.welcome_btn .icon {
  width: 5em;
  height: 5em;
  margin-bottom: 0.5rem; /* spacing between icon + text TUNE IT LATER */
}

/* Section: Why choose us */

section:nth-last-of-type {
  height: 30vh;
  margin-top: 10em;
}